includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    parseModelCastsMethod: true
    paths:
        - app
        - config
        - database
        - routes
    tmpDir: storage/phpstan
